@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');



:root{
    --teal500:  hsl(179, 62%, 43%);
    --green400: hsl(71, 73%, 54%) ;
    --teal100:  hsl(204, 43%, 93%);
    --gray500:  hsl(218, 22%, 67%);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Karla", sans-serif;
    background: var(--teal100);
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 2rem;
}

.grid-container{
    display: grid;
    width: 100%;
    max-width: 40rem; 
    border-radius: 0.35rem;
    overflow: hidden;
    box-shadow: 0 0 20px -5px rgba(0,0,0,0.1);

}


.grid-container div{
    padding: 1.5rem;
}

.grid-container .g-child-1{
    background: #fff;
}

.grid-container .g-child-1 h1{
    font-size: 1.35rem;
    margin-block-end: 1.5rem;
    color: var(--teal500);
    font-weight: 700;
}

.grid-container .g-child-1 h2,
.grid-container .g-child-2 h2,
.grid-container .g-child-3 h2{
    color: var(--green400);
    font-size: 1rem;
    margin-block-end: 1rem;
    font-weight: 600;
}

.grid-container .g-child-1 p,
.grid-container .g-child-2 p,
.grid-container .g-child-3 p{
    color: var(--gray500);
    font-size: 0.875rem;
    line-height: 1.7;
    font-weight: 400;
}

.grid-container .g-child-2{
    background: var(--teal500);
    color: #fff;
}

.grid-container .g-child-2 h2{
    color: #fff;
}

.grid-container .g-child-2 h3{
    font-size: 1.875rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-block-end:0.2rem ;
}

.grid-container .g-child-2 h3 span{
    font-size: 0.9rem;
    font-weight: 100;
    color: var(--teal100);
}

.grid-container .g-child-2 p{
    color: var(--teal100);

}

.grid-container .g-child-2 button{
    margin-block-start: 1.8rem;
    width: 100%;
    padding: 1rem 6rem;
    border: none;
    border-radius: 0.3rem;
    background: var(--green400);
    color: #fff;
    letter-spacing: 0.5px;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
    cursor: pointer;
}


.grid-container .g-child-3{
    background: hsl(179, 47%, 52%);
    color: #fff;
}

.grid-container .g-child-3 h2{
    color: #fff;
}

.grid-container .g-child-3 p{
    color: #fff;
    width: 60%;
    color: var(--teal100);
    font-weight: 200;
    font-size: 12px;
}

@media (min-width:48rem){
    .grid-container{

        grid-template-columns: repeat(2,1fr);
    }


    .grid-container .g-child-1{
        grid-column:1 /3;
    }

    .grid-container div{
    padding: 2rem 2.5rem;
}

    

    .grid-container .g-child-1 p,
    .grid-container .g-child-2 p,
    .grid-container .g-child-3 p {
        font-size: 1rem; 


    }
    
    .grid-container .g-child-1 h1{
        font-size: 1.55rem;
    }

    .grid-container .g-child-1 h2,
.grid-container .g-child-2 h2,
.grid-container .g-child-3 h2{
    font-size: 1.15rem;
}

    .grid-container .g-child-3 p{
        width: 90%;

    }

    .grid-container .g-child-2 button{
    margin-block-start: 4rem;
    width: 100%;
    padding: 1rem 2ch;

}

/* - Font size: 16px */